:root {
  --cyan: hsl(171, 66%, 44%);
  --lightblue: hsl(233, 100%, 69%);
  --darkgreyblue: hsl(210, 10%, 33%);
  --greyblue: hsl(201, 11%, 66%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--darkgreyblue);
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 100vh;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-top: 10rem;
}

h4 {
  font-size: 22px;
}

p {
  color: var(--greyblue);
  margin: 1.25rem auto;
  width: 660px;
  line-height: 1.8;
}

/* Top Section */

.top-section {
  background-image: linear-gradient(transparent, white 100%),
    url("images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  padding-top: 8rem;
}

.heading {
  font-size: 44px;
  margin-top: 3.5rem;
}

/* General Buttons */

.btn-section {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2.5rem;
}

.btn-ios {
  background-color: var(--cyan);
}

.btn-mac {
  background-color: var(--lightblue);
}

.btn-ios,
.btn-mac {
  border: none;
  border-radius: 30px;
  box-shadow: 5px 5px 8px rgb(0 0 0 / 15%);
  font-size: 18px;
  color: #fff;
  padding: 15px 30px;
}

.btn-ios:hover,
.btn-mac:hover {
  cursor: pointer;
  opacity: 80%;
}

/* Snippets Section */

.snippets-details {
  margin-top: 5.5rem;
  display: flex;
  gap: 3.5rem;
}

.snippets-details img {
  position: relative;
  right: 3.5rem;
}

.snippets-info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2.5rem;
  text-align: left;
}

.snippets-info p {
  font-size: 16px;
  width: 350px;
  margin-top: 0.5rem;
}

/* Clipboard Section */

.clipboard-section img {
  margin-top: 5rem;
}

/* Workflow Section */

.workflow-details {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 5rem;
}

.workflow-details img {
  margin-bottom: 2.5rem;
  width: 40px;
}

.workflow-details p {
  font-size: 16px;
  width: 350px;
}

/* Brand Section */

.brands-section img {
  padding: 10rem 3rem 0;
}

/* Download Section */
/* Bottom Section */

.bottom-section {
  background-color: #f7f8f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
}

.bottom-section img {
  width: 55px;
}

.bottom-details {
  display: grid;
}

/* Footer */

.attribution {
  background-color: #f7f8f8;
  color: grey;
  font-size: 11px;
  padding-bottom: 2rem;
  text-align: center;
}
.attribution a {
  color: grey;
  text-decoration: none;
}

.attribution a:hover {
  color: #fff;
}
